// @import 'tailwindcss/components'; -> instead we use mui components
@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

// Fonts
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
